/* Color palette */
$main-color: #006BB4;
$slate-blue: #725ac1ff;
$middle-blue-purple: #8d86c9ff;
$lavender-gray: #cac4ceff;
$linen: #f7ece1ff;

html {
  background-color: white !important;
}

body {
  margin: 0;
  font-family: 'Literata', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Header */
.euiFlexGroup, .euiTitle--large {
  color: $linen;
}
/* -- End header */

/* -- Body -- */
.euiPageBody {
  background-color: $main-color;
}
/* -- End body -- */

/* -- Footer -- */
.euiBottomBar {
  background: $main-color !important;
}

.footer .copyright {
  margin-top:15px;
  font-size:13px;
  text-align:center;
  color: $linen;
  margin-bottom:0;
}
/* -- End footer -- */


/* -- Table elements -- */
.euiEmptyPrompt {
  max-width: 50em !important;
}
.flag {
  width: 2em;
  height: 2em;
  margin: auto 0;
}
.euiPagination__list li {
  list-style: none;
}
.euiText ul, .euiText ol {
  margin: auto;
}

.euiTable.euiTable--responsive .euiTableRowCell__mobileHeader { 
  text-align: left;
}

/* -- End table elements -- */